<div id="thread_title">
    <div class="flex_center">
        <div class="flex_center blank_one">
            <a href="/<%= category._id %>" >
                <h2 id="thread_title_category"><%= category.title %></h2>
            </a>
        </div>
        <div class="flex_center blank_one">
            <h2 id="thread_title_thread"><%= thread.title %></h2>
        </div>
        <div class="blank_one"></div>
    </div>
    <div class="flex_center">
        <div class="blank_one flex_center">
            <h3 id="view_all">view all</h3>
            <h3>/</h3>
            <h3 id="view_50">view 50</h3>
            <h3>/</h3>
            <% if (!currentUser) { %>
                <a href="/users/login?category=<%= category._id %>&thread=<%= thread._id %>" id="view_chat">
                    <h3>Chat</h3>
                </a>
            <% } else { %>
                <a href="/<%= category._id %>/<%= thread._id %>/new" id="view_chat">
                    <h3>Chat</h3>
                </a>
            <% } %>
        </div>
        <div class="blank_one flex_center">
            <div class="flex_center">
            </div>
        </div>
        <div class="blank_one"></div>
    </div>
</div>

<div id="thread_contents">
    <div id="thread_contents_left">
    </div>
    <div id="thread_contents_center">
        <div id="chat">
            <% messages.forEach((message, i) => { %>
                <div class="messages" id="<%= message.viewName %>">
                    <%# ごめんなさい。ここ汚いです。 %>
                    <strong class="message <%= (currentUser && message.user.toString() === currentUser._id.toString())? "your_message" : "" %>">
                        <%= i %> : <%= message.userName %>
                    </strong><br />
                    <% if (message.delete === 0) { %>
                        <%= message.content %>
                    <% } else if (message.delete === 1 ) { %>
                        スレッド製作者に削除されました。
                    <% } else { %>
                        投稿者により削除されました。
                    <% } %>

                    <%# ここも汚いです。。。。。。；；%>
                    <% if (currentUser && (message.user.toString() === currentUser._id.toString() || thread.user.toString() === currentUser._id.toString())) { %>
                        <form class="delete_message_div" name="<%= message._id %>" method="POST" action="/<%= category._id %>/<%= thread._id %>/delete/<%= message._id %>">
                            <button type="submit" class="delete_message">delete</button>
                        </form>
                    <% } %>
                </div>
            <% }) %>
        </div>
    </div>
    <div id="thread_contents_right">
    </div>
</div>
