<div id="thread_title">
    <div class="flex_center">
        <div class="flex_center blank_one">
            <a href="/<%= category._id %>" >
                <h2 id="thread_title_category"><%= category.title %></h2>
            </a>
        </div>
        <div class="flex_center blank_one">
            <h2 id="thread_title_thread"><%= thread.title %></h2>
        </div>
        <div class="blank_one"></div>
    </div>
    <div class="flex_center">
        <div class="blank_one flex_center">
            <h3 id="view_all"><a href="./all">view all</a></h3>
            <h3>/</h3>
            <h3 id="view_50"><a href="./50">view 50</a></h3>
            <h3>/</h3>
            <% if (!currentUser) { %>
                <a href="/users/login?category=<%= category._id %>&thread=<%= thread._id %>" id="view_chat">
                    <h3>Chat</h3>
                </a>
            <% } else { %>
                <a href="/<%= category._id %>/<%= thread._id %>/new" id="view_chat">
                    <h3>Chat</h3>
                </a>
            <% } %>
        </div>
        <div class="blank_one flex_center">
            <div class="flex_center">
            </div>
        </div>
        <div class="blank_one"></div>
    </div>
</div>

<div id="thread_contents">
    <div id="thread_contents_left">
    </div>
    <div id="thread_contents_center">
        <div id="chat">
            <% messages.forEach(message => { %>
                <div class="messages" id="<%= message.viewName %>">
                    <%# ごめんなさい。ここ汚いです。 %>
                    <strong class="message <%= (currentUser && message.user.toString() === currentUser._id.toString())? "your_message" : "" %>">
                        <% const createDate = new Date(message.createdAt) %>
                        <%= message.number %> : <a href="/users/userPage/<%= message.user %>"><%= message.userName %></a> : <%= `${createDate.getFullYear()}/${createDate.getMonth() + 1}/${createDate.getDate()}` %> : <%= `${createDate.getHours()}時${createDate.getMinutes()}分${createDate.getSeconds()}秒`%> : <span id="new_time_<%= message._id %>" class="new_span" style="opacity: 0;">未読</span>
                        <input id="time_<%= message._id %>" class="new_input" type="hidden" value="<%= createDate.getTime() %>">
                    </strong><br />
                    <% if (message.delete === 0) { %>
                        <%= message.content %>
                    <% } else if (message.delete === 1 ) { %>
                        スレッド製作者に削除されました。
                    <% } else { %>
                        投稿者により削除されました。
                    <% } %>

                    <%# ここも汚いです。。。。。。；；%>
                    <% if (message.delete === 0 && currentUser && (message.user.toString() === currentUser._id.toString() || thread.user.toString() === currentUser._id.toString())) { %>
                        <form id="delete_form_<%= message._id %>" class="delete_message_div" name="<%= message._id %>" method="POST" action="/<%= category._id %>/<%= thread._id %>/delete/<%= message._id %>">
                            <div id="<%= message._id %>" value="<%= message._id %>" class="delete_message">delete</div>
                        </form>
                    <% } %>
                </div>
            <% }) %>
        </div>
    </div>
    <div id="thread_contents_right">
    </div>
</div>

<dialog id="dialog">
    メッセージを削除しますか？
    <input id="id_dialog" type="hidden">
    <input id="num_dialog" type="hidden">
    <menu>
        <button value="cancel" id="cancel">Cancel</button>
        <button value="default" id="ok">Ok</button>
    </menu>
</dialog>


<script type="text/javascript" src="/js/thread.js"></script>
